<!-- <p>user-profile works!</p> -->
<!-- interpolation -->
<!-- <h1>Name - {{ name }} and Age is - {{ age }}</h1> -->

<!-- Property Binding -->

<!-- <h4>Input Value is - {{ inputVal }}</h4>

<button [disabled]="isBtnDisabled">Click</button> -->

<!-- two way data binding -->
<!-- <input type="text" [value]="inputVal" (input)="onChange($event)" /> -->
<!-- <input type="text" [(ngModel)]="inputVal" />

<div>
  @for(user of users; track user.name){
  <h1>
    @if(user.cast === "Rajput"){ Name - {{ user.name }} and he is a -
    {{ user.status }} belongs to {{ user.cast }} teritory }
  </h1>

  }
</div> -->

<h1>
  Name : {{ name }} and Status - {{ isSingle ? "single" : "coder" }} and his
  Salary is - {{ salary }} and he is a {{ status }}
  <hr />
</h1>

<button (click)="sendData()">Send Data</button>
